// element-plus 样式覆盖
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #409eff
    )
  ),
  $font-size: (
    'base': 12px
  ),
  $radio-button: (
    'checked-bg-color': #409eff,
    'checked-text-color': #606266,
    'checked-border-color': #409eff
  )
);
@use 'element-plus/theme-chalk/src/index.scss' as *;
